.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #FAEAC0;
  text-align: center;
}

.result p {
  color: #6D5C55;
  font-size: 30px;
}

.btn {
  width: 200px;
  background: #F03C61;
  color: white;
  border-radius: 13px;
  line-height: 40px;
  font-size: 20px;
}

.btn:hover {
  opacity: .7;
}